{% extends 'bootstrap/base.html' %}


{% block title %}
{% if title %}{{ title }} - ConditionsController{% else %}{{ _('Welcome to ConditionsController') }}{% endif %}
{% endblock %}


{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">ConditionsController</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">{{ _('Home') }}<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active signed-in admin-func">
                <a class="nav-link" href="/products">{{ _('Products') }}<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active signed-in admin-func">
                <a class="nav-link" href="/organizations">{{ _('Organizations') }}<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active signed-in manager-func">
                <a class="nav-link" href="#" onclick="conditions.organization.open()">{{ _('Organization') }}<span class="sr-only">(current)</span></a>
            </li>
        </ul>

        <button type="button" class="btn btn-primary unsigned-in" id="signup-button" data-toggle="modal" data-target="#signup" style="margin-right: 20px;">
            {{ _('Sign up') }}
        </button>
        <button type="button" class="btn btn-secondary unsigned-in" id="signin-button" data-toggle="modal" data-target="#signin">
            {{ _('Sign in') }}
        </button>
        <div id="sign-welcome-template" style="display: none;">{{ _('Welcome') }}</div>
        <div id="sign-welcome" class="signed-in" style="display: none; margin-right: 20px;"></div>
        <button type="button" class="btn btn-primary signed-in" id="signout-button" style="display: none;">
                {{ _('Sign out') }}
        </button>
    </div>
</nav>

<!-- Sign in modal-->
<div class="modal fade" id="signin" tabindex="-1" role="dialog" aria-labelledby="signinLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signinLabel">{{ _('Sign into your account') }}</h5>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert" id="signin-error" style="display: none;"></div>
                <form id="signin-form">
                    <div class="form-group">
                        <label for="signin-email">{{ _('Email address') }}</label>
                        <input type="email" class="form-control" id="signin-email" aria-describedby="emailHelp"
                               placeholder="{{ _('Enter email') }}">
                        <small id="emailHelp" class="form-text text-muted">
                            {{ _('We\'ll never share your email with anyone else.') }}
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="signin-password">{{ _('Password') }}</label>
                        <input type="password" class="form-control" id="signin-password" placeholder="Password">
                    </div>
                    <div class="text-center" style="margin-top: 10px;">
                        <button type="submit" class="btn btn-primary text-center" style="margin-top: 40px;">
                            {{ _('Sign in') }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Sign up modal-->
<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="signupLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signupLabel">{{ _('Registering') }}</h5>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert" id="signup-error" style="display: none;"></div>
                <form id="signup-form">
                    <div class="form-group">
                        <label for="signup-email">{{ _('Email address') }}</label>
                        <input type="email" class="form-control" id="signup-email" aria-describedby="signup-emailHelp"
                               placeholder="{{ _('Enter email') }}">
                        <small id="signup-emailHelp" class="form-text text-muted">
                            {{ _('We\'ll never share your email with anyone else.') }}
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="signup-password">{{ _('Password') }}</label>
                        <input type="password" class="form-control" id="signup-password" placeholder="Password">
                    </div>
                    <div class="text-center" style="margin-top: 10px;">
                        <button type="submit" class="btn btn-primary text-center" style="margin-top: 40px;">
                            {{ _('Sign up') }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% block container %}
    {% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<style type="text/css">
    .btn-default {
        background-color: white;
    }
    html, body {
      margin: 0;
      padding: 0;
    }
    .jcontainer {
        margin-bottom: 0;
        height: 100%;
        min-height: 100vh;
    }
    .btn.toggle {
        width: 100px !important;
        height: 38px !important;
    }
</style>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script type="text/javascript" src="https://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/conditions.general.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/conditions.account.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/conditions.products.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/conditions.server.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/conditions.organization.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/conditions.organizations.js') }}"></script>
{{ moment.include_moment() }}
{{ moment.lang(g.locale) }}
<script>
        conditions.account.init();
</script>
{% endblock %}
