{% extends "base.html" %}

{% block title %}{{ _('Product') }}{% endblock %}

{% block content %}
<script type="text/x-jquery-tmpl" id="product-template">
    <tr>
        <td class='status-${status_en}' id='product-status-info'>${status}</td>
        <td>${id}</td>
        <td>${name}</td>
        <td>${product_type_name}</td>
        <td>${date_created}</td>
        <td>${organization_name}</td>
        <td>
        {% raw %}
        {{if tracking_device_id == ''}}
        {% endraw %}
        {{ _('No tracking device') }}
        <button type="submit" class="btn btn-primary text-center add-tracking-device-button signed-in" data-product-id=${id}>
            {{ _('Assign') }}
        </button>
        {% raw %}
        {{else}}
        {% endraw %}
        ${tracking_device_id}
        {% raw %}
        {{/if}}
        {% endraw %}
        </td>
        <td>
            <div id="qrcode"></div>
        </td>
    </tr>
</script>

<div class="jumbotron d-flex jcontainer">
    <div class="container">
        <div>
            <h3>
                {{ _('Product information.') }}
            </h3>
            <div class="alert alert-danger" role="alert" id="product-error" style="display: none;"></div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">{{_('Status')}}</th>
                        <th scope="col">{{_('Identifier')}}</th>
                        <th scope="col">{{_('Name')}}</th>
                        <th scope="col">{{_('Product type')}}</th>
                        <th scope="col">{{_('Created date')}}</th>
                        <th scope="col">{{_('Organization')}}</th>
                        <th scope="col">{{_('Tracking device')}}</th>
                        <th scope="col">{{_('Open in mobile app')}}</th>
                    </tr>
                </thead>
                <tbody id="product-description">
                </tbody>
            </table>
            <div id="product-chart"></div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}

<script>
        conditions.product.init();
</script>

{% endblock %}